@model MVC.Models.GuestResponse
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/Styles.css" />
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
</head>
<body>
    <h5 class="bg-primary text-white text-center m-2 p-2">RSVP</h5>
    <div asp-validation-summary="All">
    </div>
    <form class="m-2" asp-action="RsvpForm" method="post">
        <table>
            <tr>
                <td><label class="prop" asp-for="Name">Your name:</label></td>
                <td><input class="form-control" asp-for="Name" /></td>
            </tr>
            <tr>
                <td><label class="prop" asp-for="Email">Your email:</label></td>
                <td><input class="form-control" asp-for="Email" /></td>
            </tr>
            <tr>
                <td><label class="prop" asp-for="Phone">Your phone:</label></td>
                <td><input class="form-control" asp-for="Phone" /></td>
            </tr>
            <tr>
                <td><label class="prop" asp-for="WillAttend">Will you attend?</label></td>
                <td><select class="form-control" asp-for="WillAttend">
                    <option value="">Choose an option</option>
                    <option value="true">Yes, I'll be there</option>
                    <option value="false">No, I can't come</option>
                </select></td>
            </tr>
        </table>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</body>
</html>