ul {
    list-style-type: none;
    margin-top: 0px;
    margin-left: 0px;
}
body {
    background-color: cornsilk;
}
header {
    font-weight: bold;
}
li {
    margin-left: 0px;
    margin-bottom: 20px;
}
article {
    font-family: Arial
};
h1 {
    font-size: 20px;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
}
nav {
    text-decoration: none;
}
li.nav_element {
    margin-left: 0px;
    margin-bottom: 0px
}
strong
{
    text-decoration: underline;
}
span.food_names {
text-decoration: underline;
}
span.price {
    font-style: italic;
}
dt.food_names {
    font-style: italic;
    text-decoration: underline;
    display: inline
}
span.hours {
    font-family: serif;
}
span.location {
    font-family: serif;
}