.field-validation-error
{
    color: red;
}
.field-validation-valid
{
    display: none;
}
.input-validation-error
{
    border: 1px solid red;
    background-color: #fee;
}
.validation-summary-valid
{
    display: none;
}
h1
{
    font-size: 18px;
}
h2
{
    font-size: 15px;
}
.form-control{
    width: 300px;
}